<div class ="navbar">
  <%=image_tag("logo-allomarcel.png", alt: "logo-allomarcel.png", class: "navbar-logo")%>
  <ul class="navbar-right">
    <li>
    sdedsds
    </li>
    <li>
      sdds
    </li>
  </ul>
</div>
